@{
    ViewData["Title"] = "Aggiorna";
    Layout = "_EditorLayout";
    
}
@model Actor

<div class="container">
    <form asp-action="Update" method="post" asp-route-id="@Model.Id" action="@Url.Action("Update", "Actor")">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <strong>Caratteristica:</strong>
            <input asp-for="Name" class="d-block w-100" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div> 
        <div class="mb-3">
            <strong>Caratteristica:</strong>
            <input asp-for="Surname" class="d-block w-100" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>


        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>